
main {
    height: fit-content;
}


.page-intro {
    position: relative;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    background-image: url("assets/Background\ Exhibitions.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#guns-background {
    background-image: url("assets/Guns background .jpeg");
}

#equipment-background {
    background-image: url("assets/Equipment background.jpeg");
}

#vehicle-background {
    background-image: url("assets/Vehicle background.jpeg");
}
.page-intro-header {
    width: 80%;
    height: fit-content;
    color: white;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    font-size: 40px;
    text-align: center;
    
}

.page-main-content {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-category {
    padding: 4% 0 4% 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    /* background-color: blue; */
}

.content-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: white; */
}

.category-desc {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    padding: 0;
    margin: 0;
}

.content {
    width: 80%;
    height: 80%;
    overflow: hidden;
    text-align: justify;
    padding: 0 -20% 0 20%
}

.category-desc a {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: black;
    font-style: italic;
    text-underline-position: under  ;
}

.cate-card-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:4%;
}
.cate-card  {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.2s;
}
.cate-card img {
    width: 400px;
    height: 100%;
    object-fit: contain;
}
#vehicle  {
    background-color: black;
    color: white;
}

#vehicle .content-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
}

/* #vehicle .content {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    overflow: hidden;
    text-align: justify;
    padding: 0 0 0 10%
} */

#vehicle .page-category {
    width: 90%;
}

#vehicle a {
    color: white;
}

.cate-card:hover {
    transform: scale(1.1);
}

/* category page */
.main-content-wrapper {
    padding: 4% 0 4% 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.card-wrapper {
    width: 80%;
    height: fit-content;
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    gap: 4%;
}
.card {
    width: 100%;
    height: 40vh;
    background-color: black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
} */

/* Artifact */
.artifact-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 2%; */
    /* padding: 4%; */
}

.artifact-right {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    /* padding: 4%; */
    background-color: black;
    color: white;
}

.artifact-right .artifact-desc {
    padding: 2% 0 2% 8%;
}

.artifact-right .sketchfab {
    padding: 2% 8% 2% 4%
}
.sketchfab {
    padding: 2% 4% 2% 8%;
    height: 100%;
}
.artifact-desc {
   height: 100%;
   padding: 2% 8% 2% 0;
}

.artifact-desc h3 {
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
    font-size: 40px;
}

.artifact-desc p {
    text-align: justify;
    font-size: 20px;
}

.artifact-desc b {
    /* font-style: italic; */
    font-style:italic;
    text-decoration: underline;
    /* text-underline-position: under; */
}

.breadcrumbs {
    
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 12px;
    font-size: 20px;
    /* color: white */
}

.breadcrumbs > a{
    color: black;
    text-decoration: underline;
    /* text-underline-position: under; */
}
