body, html {
    padding: 0;
    margin: 0
}

:root {
    -content-text: 16px;
    -text-secondary: white
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.header-ele {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.logo {
    width: 16vw;
    /* height: inherit; */
    background-color: white;
}

.search {
    width: 40vw;
    display: flex;
    gap: 0
    /* height: ; */
    /* background-color: green; */
}

input[type=text] {
    width: 60%;
    height: 32px;
    border: none;
    padding: 0 2% 0 4%;
    border-radius:  16px 0 0  16px;
    box-sizing: border-box;
    border: transparent;
}

.search button {
    border-radius: 0 16px 16px 0;
    width: 40px;
    height: 35px;
}

.nav-bar {
    width: 48vw;
    display: flex;
    justify-content: flex-start;
    /* background-color: aqua; */
}

.tab-wrapper {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8%;
    height: 100%;
   
}

.tab-item {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    /* border-radius: 16px; */
    transition: 0.2s;
}

#tab-exhibition {
    position: relative;
}

.sub-nav {
    z-index: 2;
    display: none;
    position: absolute;
    left: 0%;
    top: 95%;
    height: fit-content;
    width: 10vw;
    background-color: white;
    list-style: none;
    padding: 10% 0 4% 20%;
}

.sub-nav-tab {
    padding-bottom: -5%;
    width: 80%;
    height: 3vh;
    margin-bottom: 8%;
}

.sub-nav-tab:hover {
    border-bottom: 2px solid black;
}

.tab-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
#tab-exhibition:hover > .sub-nav {
    display: block;
}

.tab-item:hover {
    /* background-color: white; */
    border-bottom: 8px solid white;
}

.focus {
    border-bottom: 8px solid white;
}

/* .tab-item:hover > a {
    /* text-decoration: underline;
    text-underline-position: under  ; */


/* Main contents */
/* intro section */
.intro-wrapper {
    width: 100vw;
    height: fit-content;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.intro-video {
    position: relative;
    width: fit-content;
    height: fit-content;
    object-fit: fill;
}

.intro-button-wrapper {
    position: absolute;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.intro-button {
    width: fit-content;
    height: 10%;
    padding: 1% 2%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 16px;
    transition: 0.2s;
}

.intro-button a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.intro-button:hover {
    transform: scale(1.1);
    border: 5px solid black;
}
/* end intro section */


/* Main content */
/* Description section */

.main-content {
    width: 78vw;
    height: fit-content;
}

.main-sections {
    /* width: 60vw; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 0 0 0;
}

h2 {
    margin-bottom: 0;
    text-align: center;
    /* height: 50px; */
    font-size: 36px;
    /* background-color: green; */
}

p {
    font-size: 24px;
    text-align: center;
}


/* end Description section */
/* Exhibiton secition 4 cards */
.exhibition {
    padding-top: 4%;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
}

.exhibi-card {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.see-more-wrapper {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.see-more-button {
    /* width: 30vw; */
    height: 5vh;
    /* background-color: pink; */
}
.see-more-button a  {
    font-size: 24px;
    font-style: italic;
    text-underline-position: under;
}
/* end Exhibition seciton */

/* end Main contents */

/* Footer */
footer {
    width: 100vw;
    height: 40vh;
    background-color: black;
}