


<!DOCTYPE html>

    <html lang="en" class="gtm__section__exhibitions">

	<head>
		<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:site_name" content="The War Remnants" />
<meta property="og:type" content="website" />

		
    <meta name="keywords" content="exhibition, War Remnants Museum, current exhibition" />
    <meta name="description" content="" />
    <link rel="canonical" href="" />
    <meta property="og:image" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Exhibitions" />
    <meta property="og:description" content="" />
    <script type="application/ld+json">
    </script>

		


		 <link rel="stylesheet" href="/ghidorah/dist/applicationReact.b0c3ed4082f2ad531c11.css" />
		 <link rel="preload" href="/ghidorah/dist/285.7ecda1f1bf10ef0198d7.js" as="script">
		 <script defer type="text/javascript" src="/ghidorah/dist/285.7ecda1f1bf10ef0198d7.js"></script>
		 <link rel="preload" href="/ghidorah/dist/610.9a7b5338cd40f416f73a.js" as="script">
		 <script defer type="text/javascript" src="/ghidorah/dist/610.9a7b5338cd40f416f73a.js"></script>
		 <link rel="preload" href="/ghidorah/dist/53.185d243706dda4364fbd.js" as="script">
		 <script defer type="text/javascript" src="/ghidorah/dist/53.185d243706dda4364fbd.js"></script>
		 <link rel="preload" href="/ghidorah/dist/applicationReact.e858284e5fb1fc6d4798.js" as="script">
		 <script defer type="text/javascript" src="/ghidorah/dist/applicationReact.e858284e5fb1fc6d4798.js"></script>


		
<script src="https://www.googleoptimize.com/optimize.js?id=GTM-5LN5G3J" ></script>


<script type="text/javascript">
		function detectIE() {
				var ua = window.navigator.userAgent;

				//Test IE 10
				var msie = ua.indexOf('MSIE ');
				if (msie > 0) {
						return true;
				}
				//Test IE 11
				var trident = ua.indexOf('Trident/');
				if (trident > 0) {
						return true;
				}
				//Test pre IE 10
				var div = document.createElement("div");
				div.innerHTML = "<!--[if IE]><i></i><![endif]-->";
				if (div.getElementsByTagName("i").length == 1) {
						return true;
				}
				return false;
		}

		window.onload = function () {
				if (detectIE()) {
						document.querySelectorAll("#mma-ribbon-banner .ribbon__text")[0].textContent = "Our website has detected that you are using an outdated browser that will prevent you from accessing certain features. Please use another browser (e.g. Edge, Chrome, or Firefox) to view our website. ";
						$ribbonbanner = document.querySelectorAll(".js-ribbon-banner")[0];
						$ribbonbanner.className += " ribbon__open";
				}
		};
</script>

	</head>

	<body>
		
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
          'site-section' : 'exhibitions'
      });
    </script>


<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe data-low-res="https://www.googletagmanager.com/ns.html?id=GTM-MSDMZ4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google Tag Manager -->
<script async>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
			'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-MSDMZ4');
</script>
<!-- End Google Tag Manager -->


		<section class="masthead-wrapper js-masthead-wrapper">
		
    



<script src="/bundles/met-header?v=EW3UaD5xIgrsK4D1GkTBXk95djVy0jIb3nkcmC57cdo1"></script>



<link href="https://www.metmuseum.org/dist/met-nas-generated.css?v=202208280315" rel="stylesheet">

<script type="text/javascript">
        window.pageData = new PageDataStore();
</script>

<div class="nas nas--base">
  <div class="content-wrapper content-wrapper--masthead js-masthead-wrapper">
    <div class=" marble-component js-ribbon-banner ribbon-banner"
  id="mma-ribbon-banner"
  data-expiration="1"
  data-enabled="True"
  style="background-color: #16af81; color: #cfe4ff">

  <section class="">

  	<div class="">

  	</div>

    <a href="#" class="js-ribbon-close ribbon__close" tabindex="0" aria-label="Close" role="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16" width="16">
        <path
          fill="currentColor"
          d="M16,1.21L9.21,8,16,14.79,14.79,16,8,9.21,1.21,16,0,14.79,6.79,8,0,1.21,1.21,0,8,6.79,14.79,0Z"
          transform="translate(0 0)">
        </path>
      </svg>
    </a>
  </section>
</div>

<style type="text/css">
  /* To Prevent DOM flash */
  #mma-ribbon-banner {
    display: none;
  }
</style>

    
  <script type="text/javascript">
  var pageConfig = {
    searchApp: {
      name: 'siteSearch',
      id: 'siteSearch'
    }
  };
  window.pageData.add('pageConfig', JSON.stringify(pageConfig));
</script>


<header class="masthead" main-nav>
  <div class="masthead__wrap">
    <a title="Homepage" href="/" class="masthead__logo-link">
      <span class="masthead__logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        </svg>
      </span>
    </a>
    <div class="masthead__content">
      <div class="masthead__top-bar">
        <div class="masthead__eyebrow-links">
          <a class="masthead__to-content js-masthead__to-content" href="#">Jump to content</a>
        </div>
        <div class="masthead__top-right">
          <a title="Search Button" role="button" href="#" class="masthead__search masthead__search--small js-search-trigger masthead-button">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="15" height="15" viewBox="0 0 15 15">
              <path fill="currentColor" d="M20.657,19.243 C20.657,19.243 19.243,20.657 19.243,20.657 C19.243,20.657 12.900,14.314 12.900,14.314 C11.545,15.367 9.848,16.000 8.000,16.000 C3.582,16.000 0.000,12.418 0.000,8.000 C0.000,3.582 3.582,0.000 8.000,0.000 C12.418,0.000 16.000,3.582 16.000,8.000 C16.000,9.848 15.367,11.545 14.314,12.900 C14.314,12.900 20.657,19.243 20.657,19.243 ZM8.000,2.000 C4.686,2.000 2.000,4.686 2.000,8.000 C2.000,11.314 4.686,14.000 8.000,14.000 C11.314,14.000 14.000,11.314 14.000,8.000 C14.000,4.686 11.314,2.000 8.000,2.000 Z" id="path-1" class="cls-2" fill-rule="evenodd" />
            </svg>
            <span class="masthead__search-label">Search</span>
          </a>
          <a href="#" role="button" title="Toggle Menu" class="masthead__hamburger js-hamburger masthead-button show-open">
            <svg class="icon masthead-icon--hamburger" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path fill="currentColor" id="Hamburger_mobile.svg" d="M990,912v-2h20v2H990Zm0-11h20v2H990v-2Zm0-9h20v2H990v-2Z" transform="translate(-990 -892)" />
            </svg>
            <svg class="icon masthead-icon--close lil-nas-x" xmlns="http://www.w3.org/2000/svg" width="15.561" height="15.561" viewBox="0 0 15.561 15.561">
              <path fill="currentColor" id="Xbutton_mobile.svg" d="M1007.78,1008.36l-1.42,1.42-6.36-6.37-6.364,6.37-1.414-1.42,6.364-6.36-6.364-6.364,1.414-1.414,6.364,6.368,6.36-6.368,1.42,1.414-6.37,6.364Z" transform="translate(-992.219 -994.219)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="masthead__bottom-bar js-bottom-bar">
        <nav class="nav-main">
          <ul class="nav-main__primary">
                <li class=" nav-main__primary-item js-nav-main__primary-item">
      <a class="js-tier1 nav-main__link--parent nav-main__link nav-main__link--primary "
        href="#"
        onclick="this.blur();return false;"
        data-nav-id="visit">

        Visit
        <span class="header__toggle-indicator"></span>

      </a>
        <div data-subnav-for="visit"
          class="nav-main__subnav js-subnav ">
          <ul class="nav-main__secondary">
              <li class="js-tier2 nav-main__secondary-item">
              <a class="nav-main__link nav-main__link-sub"
                href="/visit/plan-your-visit"> <!--Need link to the plan-your-vistit section-->
                Plan Your Visit
              </a>
            </li>
              <li class="js-tier2 nav-main__secondary-item">
              <a class="nav-main__link nav-main__link-sub"
                href=""> <!--Need link for buy tickets-->
                Buy Tickets
              </a>
            </li>
        </ul>
      </div>
  </li>
    <li class=" nav-main__primary-item js-nav-main__primary-item">
      <a class="js-tier1 nav-main__link--parent nav-main__link nav-main__link--primary "
        href="#"
        onclick="this.blur();return false;"
        data-nav-id="exhibitions">

        Exhibitions and Events
        <span class="header__toggle-indicator"></span>

      </a>
        <div data-subnav-for="exhibitions"
          class="nav-main__subnav js-subnav ">
          <ul class="nav-main__secondary">
              <li class="js-tier2 nav-main__secondary-item">
              <a class="nav-main__link nav-main__link-sub"
                href="/exhibitions"> <!--Need link for exhibitions section-->
                Exhibitions
              </a>
            </li>
              <li class="js-tier2 nav-main__secondary-item">
              <a class="nav-main__link nav-main__link-sub"
                href="/events/whats-on"> <!--Need link for events section-->
                Events
              </a>
            </li>
        </ul>
      </div>
  </li>
    <li class=" nav-main__primary-item js-nav-main__primary-item">
      <a class="nav-main__link--external nav-main__link nav-main__link--primary "
        href="/contact" 
        onclick=""
        data-nav-id="contact"> <!--Need link for contact section-->

        Contact us
        <span class="header__toggle-indicator"></span>

          <span class="nav-main__external-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
              <path fill="currentColor" id="ContactArrow.svg" class="cls-1" d="M945.991,310L946,316h-2v-4.483L935.5,320l-1.5-1.5,8.52-8.5H938v-2l6,0.009V308l0.677,0.01,1.318,0,0,1.507h0V310h-0.009Z" transform="translate(-934 -308)" />
            </svg>
          </span>
      </a>
  </li>

            <li class="nav-main__primary-item nav-main__search-button">
              <a href="#" role="button" title="Search Button" class="masthead__search js-search-trigger">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill="currentColor" id="SearchIcon_desktop.svg" d="M1239.8,318.393a6.144,6.144,0,0,1-3.78-1.319L1231.09,322l-1.09-1.095,4.93-4.928a6.107,6.107,0,0,1-1.32-3.781A6.2,6.2,0,1,1,1239.8,318.393Zm0-10.844a4.648,4.648,0,1,0,4.65,4.648A4.646,4.646,0,0,0,1239.8,307.549Z" transform="translate(-1230 -306)" />
                </svg>
                <span class="masthead__search-label">Search</span>
              </a>
            </li>
            <li class="nav-main__subnav nav-main__subnav--search js-search">
              <div class="nav-main__secondary nav-main__secondary--search">
                <div class="nav-main__search-wrapper">

                  <form action="" method="get"> <!--Link to the webpage-->
<input name="__RequestVerificationToken" type="hidden" value="PXBXAv1HxaMXd5HqMCmF1gLo7-qZrgU0JeArPIOGh7i-Xtu5EpRiFlaBJ2VWXivX1S--WykaRv5rU-Pfj0vVcAocRcg1" />                    

                    <input id="SiteSearch" name="SiteSearch" type="hidden" value="search" />
                    <div class="nav-main__typeahead-wrapper">
                      <input autocomplete="off" class="js-quickSearch" id="SearchText" name="SearchText" placeholder="Search" type="text" value="" />
                      <span class="nav-main__typeahead-spinner js-nav-main__typeahead-spinner"></span>
                      <div class="nav-main__typeahead js-nav-main__typeahead"></div>
                    </div>
                    <button type="submit">Go</button>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

  </div>
</div>



		</section>
		<main class="main-wrapper">
			











		</main>
		
    


<div id="nas-footer" class="fas nas--base">
    
    <footer class="global-footer">
  <section class="global-footer__locations">
    <div class="global-footer__logo">
      <a title="Homepage" href="/"> <!--Link back to the homepage-->
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
        </svg>
      </a>
    </div>
    <div class="global-footer__location-items">
      <ul>
            <li class="global-footer__locations-item"><div class="museum-address">
<div class="museum-address__name"><a href=""><span class="notranslate">Location</span></a></div> <!--Link to the address of the museum on gg map-->
<address class="museum-address__information">
<ul class="museum-address__information-items">
    <li class="museum-address__information-item">28 Vo Van Tan, Ward 6</li>
    <li class="museum-address__information-item">District 3, Ho Chi Minh city</li>
    <li class="museum-address__information-item">Phone: </li>
</ul>
</address>
</div></li>
            <li class="global-footer__locations-item"><div class="museum-address">
<div class="museum-visit__name"><a href=""><span class="notranslate">Plan your visit</span></a></div>
    <ul class="global-footer__nav-items">
        <li class="global-footer__nav-item">
<a href="/exhibitions" class="global-footer__nav-link" >Exhibitions</a>                  </li> <!--Need link for exhbitions-->
        <li class="global-footer__nav-item">
<a href="/events" class="global-footer__nav-link" >Events</a>                  </li> <!--Need link for events-->  
</ul>
</div></li>
      </ul>
    </div>
  </section>
  <section class="global-footer__links global-footer__links--social">
    <h4 class="global-footer__title">Follow us</h4>
    <ul class="global-footer__social-items">
        <li class="global-footer__social-item">
          <a title="external: http://www.facebook.com/metmuseum" href="http://www.facebook.com/metmuseum" target="_blank" class="global-footer__social-link">
            <svg class="icon--fbook social-item__icon">
              <use xlink:href="https://www.metmuseum.org/dist/icons.svg#ico-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="global-footer__social-item">
          <a title="external: https://twitter.com/metmuseum" href="https://twitter.com/metmuseum" target="_blank" class="global-footer__social-link">
            <svg class="icon--twitter social-item__icon">
              <use xlink:href="https://www.metmuseum.org/dist/icons.svg#ico-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="global-footer__social-item">
          <a title="external: https://pinterest.com/metmuseum/" href="https://pinterest.com/metmuseum/" target="_blank" class="global-footer__social-link">
            <svg class="icon--pinterest social-item__icon">
              <use xlink:href="https://www.metmuseum.org/dist/icons.svg#ico-pinterest"></use>
            </svg>
          </a>
        </li>
        <li class="global-footer__social-item">
          <a title="external: https://www.instagram.com/metmuseum/" href="https://www.instagram.com/metmuseum/" target="_blank" class="global-footer__social-link">
            <svg class="icon--instagram social-item__icon">
              <use xlink:href="https://www.metmuseum.org/dist/icons.svg#ico-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="global-footer__social-item">
          <a title="external: https://www.youtube.com/user/metmuseum" href="https://www.youtube.com/user/metmuseum" target="_blank" class="global-footer__social-link">
            <svg class="icon--youtube social-item__icon">
              <use xlink:href="https://www.metmuseum.org/dist/icons.svg#ico-youtube"></use>
            </svg>
          </a>
        </li>
    </ul>
  </section>
  <section class="global-footer__newsletter">
    <form
	name="footerNewsletter"
	class="global-footer__newsletter-signup form__field-wrapper inline js-global-footer__newsletter-signup">
		<div class="js-global-footer__newsletter-wrapper global-footer__newsletter-wrapper">
    	<label class="global-footer__newsletter-label" for="newsletter-email">
				Join our newsletter
			</label>
			<div class="global-footer__newsletter-inputs">
      	<input
					class="global-footer__newsletter-input js-global-footer__newsletter-input"
          type="email" autocomplete="email" id="newsletter-email"
          placeholder="Enter your email" required />
        <button
					class="js-global-footer__newsletter-submit global-footer__newsletter-submit button primary-button primary-button--small primary-button--ghost-dark"
					type="submit">
					Sign Up
				</button>
			</div>
      <div class="global-footer__form-message global-footer__form-message--error js-form__validation__submit-error"></div>
    </div>
    <p class="global-footer__form-message global-footer__form-message--success js-global-footer__newsletter-confirm"></p>
</form>

  </section>
  <section class="global-footer__info">
    <ul class="global-footer__info-items">
        <li class="global-footer__info-item">
<a href="/information/site-index" class="global-footer__info-link" >Site Index</a>        </li>
        <li class="global-footer__info-item">
<a href="/information/terms-and-conditions" class="global-footer__info-link" >Terms and Conditions</a>        </li>
        <li class="global-footer__info-item">
<a href="/information/privacy-policy" class="global-footer__info-link" >Privacy Policy</a>        </li>
        <li class="global-footer__info-item">
<a href="/about-the-met/contact" class="global-footer__info-link" >Contact Information</a>        </li>
    </ul>
      <div class="global-footer__copyright-info">&#169; 2000–2022 The Metropolitan Museum of Art. All rights reserved.</div>
  </section>
</footer>

</div>


		
    


<div class="nas nas--base">
    <template id="lightbox-template" data-enabled="False">
	<div id="mma-lightbox" data-lightbox-id="" data-expiration="1" data-home="False" data-enabled="False" data-campaign-id="" class="lightbox-open">
		<div class="lightbox-container">
			<a class="lightbox-close" href="#" tabindex="0" role="button" aria-label="Close Lightbox"></a>
				
		</div>
	</div>
</template>

<div>



	<script src="https://www.metmuseum.org/dist/nas.min.js?v=202208280315"></script>


		
	</body>
</html>
